<div class="container content discount">
	<h5>Cupones de descuento <a target="_blank" href="//www.udemy.com/user/juanmartingimnez/">udemy.com</a>!!</h5>
	<hr>
	<div class="row">
		<div class="col s12">
			<h6>Obtén tu código de descuento :D </h6>
			<div class="row">
				<div class="input-field col s12">
					<select>
				      <option value="" disabled selected>Seleccione el curso</option>
					  <option value="1">Hola Vanilla-js, Adiós jQuery</option>
					</select>
				</div>
		        <div class="input-field col s12">
		          <input id="email" type="email" class="validate">
		          <label for="email" data-error="Wrong" data-success="Good!">Ingresa tu email *</label>
		        </div>
				<div class="btn right">
		        	<span>Quiero mi cupon!</span>
		      	</div>
	      	</div>

		 	<p class="terms">
		 		* Al dejar tus datos de contacto en el formulario nos autoriza enviar información comercial, descuentos o publicitaria en el futuro.
		 		<br/>
		 		* Si no te llega el mail, por favor, verifica la carpeta de Spam.
		 	</p>
		</div>
	</div>
</div>