<footer>
	<div class="container contact">
		<h5>contact</h5>
		<h6>Let's talk with me</h6>
		<hr>
		<div class="col s12 center" id="social-icons">
			<a href="https://twitter.com/ju4nm4rt1n"><img src="css/img/Twitter.svg" width="48" height="48" alt="Twitter" /></a>
			<a href="http://www.linkedin.com/in/annonip"><img src="css/img/LinkedIn.svg" width="48" height="48" alt="LinkedIn" /></a>
			<a href="http://www.facebook.com/ing.jmg"><img src="css/img/Facebook.svg" width="48" height="48" alt="Facebook" /></a>
		</div>
	</div>
	<div class="footer">
		<div class="container center-align">
			<span>Made with <i class="material-icons tiny">favorite</i> by @ju4nm4rt1n</span>
		</div>
	</div>
</footer>